body {
margin:0;
font-family:Segoe UI;
background:#0f172a;
color:white;
}

.layout {
display:flex;
height:100vh;
}

.sidebar {
width:240px;
background:#020617;
padding:20px;
}

.logo {
color:#3b82f6;
}

.sidebar a {
display:block;
color:white;
padding:12px;
text-decoration:none;
border-radius:8px;
margin-bottom:5px;
}

.sidebar a:hover {
background:#1e293b;
}

.main {
flex:1;
padding:20px;
}

.topbar {
display:flex;
justify-content:space-between;
}

.cards {
display:flex;
gap:20px;
margin-top:20px;
}

.card {
background:#1e293b;
padding:20px;
border-radius:12px;
flex:1;
}

.balance {
background:linear-gradient(45deg,#2563eb,#06b6d4);
}

input {
width:100%;
padding:10px;
margin-top:10px;
}

button {
margin-top:10px;
padding:10px;
width:100%;
background:#2563eb;
border:none;
color:white;
cursor:pointer;
}

.history {
margin-top:30px;
background:#1e293b;
padding:20px;
border-radius:12px;
}